

.categories {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;}

.categories .subtitle {
    margin-bottom: 40px;

    font-size: 30px;
    font-weight: 500;
    color: #EA5455;}

 .categories .cta-title {
    font-size: 15px;
   color:  #2D4059;
     text-decoration: none; }

.categories .categories-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    }

 .categories .categories-container div {
   padding: 30px 0;    
   text-align: center;
   color: 
    #E5E5E5;
   background-color: 
    #2D4059;
   border-radius: 25px;
    }

.categories p {
    margin-top: 15px;
    font-weight: 600;
    }

.container-prix { display:grid  ;grid-template-columns: repeat(4,1fr) ; gap: 24px; }
.container-prix div {padding: 30px 0 ; }
.imagecarre {max-inline-size: 1fr;}
.sousblockprix {color: #42CC58 ;font-family: 'Montserrat', sans-serif;}
.blocvente {background-color: beige;}


.troisimagechoix { display: grid; grid-template-columns: repeat(3, 1fr);   gap: 24px;; }

.troisimagechoix img { display: grid;padding: 30px 0;  text-align: center; border-radius: 25px;}